In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
from numpy.random import *

<ipython-input-1-bd5f1df2dfe0>:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
country = ['china','india','usa']
pop = [2300,3450,345]

In [3]:
ser1 = Series(pop)

In [4]:
ser1

0    2300
1    3450
2     345
dtype: int64

In [5]:
ser2 = Series(pop,index=country)

In [6]:
ser2

china    2300
india    3450
usa       345
dtype: int64

In [7]:
'india' in ser2

True

In [8]:
'India' in ser2

False

In [9]:
pd.isnull(ser2)

china    False
india    False
usa      False
dtype: bool

In [10]:
pd.notnull(ser2)

china    True
india    True
usa      True
dtype: bool

In [11]:
nfl = pd.read_csv('nfl.csv')

In [12]:
nfl

,Rank,Team,GP,Won,Lost,Tied[c],Pct.,First NFL season,Division
0,1,Dallas Cowboys,981,562,413,6 (0),0.576,1960,NFC East
1,2,Green Bay Packers,"1,435",800,598,38 (8),0.572,1921,NFC North
2,3,Baltimore Ravens,451,256,194,1,0.569,1996,AFC North
3,4,Chicago Bears,"1,469",793,634,42 (1),0.556,1920,NFC North
4,5,New England Patriots,983,541,433,9 (0),0.555,1960,AFC East
5,6,Miami Dolphins,899,496,399,4 (1),0.554,1966,AFC East
6,7,Kansas City Chiefs,983,532,439,12 (4),0.548,1960,AFC West
7,8,Minnesota Vikings,969,523,435,11 (4),0.546,1961,NFC North
8,9,San Francisco 49ers[b],"1,101",586,501,14 (3),0.539,1950,NFC West
9,10,Pittsburgh Steelers,"1,271",671,578,22 (4),0.537,1933,AFC North
10,11,New York Giants,"1,404",721,649,34 (4),0.526,1925,NFC East
11,12,Indianapolis Colts[d],"1,065",556,501,8 (2),0.526,1953,AFC South
12,13,Denver Broncos,983,508,465,10 (4),0.522,1960,AFC West
13,14,Las Vegas Raiders,983,505,467,11 (2),0.520,1960,AFC West
14,15,Seattle Seahawks,759,392,366,1,0.517,1976,NFC West
15,16,Los Angeles Rams,"1,234",614,599,21 (3),0.506,1937,NFC West
16,17,Los Angeles Chargers,983,483,489,11 (2),0.497,1960,AFC West
17,18,Philadelphia Eagles,"1,287",624,636,27 (7),0.495,1933,NFC East
18,19,Washington Commanders,"1,301",629,643,29 (3),0.495,1932,NFC East
19,20,Cleveland Browns[b][e],"1,053",512,530,11 (4),0.491,1950,AFC North
20,21,Tennessee Titans,983,476,501,6 (0),0.487,1960,AFC South
21,22,Buffalo Bills,982,473,501,8 (1),0.486,1960,AFC East
22,23,New Orleans Saints,870,412,468,5 (1),0.468,1967,NFC South
23,24,Carolina Panthers,467,214,252,1,0.459,1995,NFC South
24,25,Cincinnati Bengals,869,394,471,5 (4),0.456,1968,AFC North
25,26,Detroit Lions,"1,332",591,707,34 (5),0.455,1930,NFC North
26,27,New York Jets,983,428,547,8 (2),0.439,1960,AFC East
27,28,Atlanta Falcons,899,390,503,6 (2),0.437,1966,NFC South
28,29,Houston Texans,355,152,202,1,0.430,2002,AFC South
29,30,Jacksonville Jaguars,467,198,269,0,0.424,1995,AFC South
30,31,Arizona Cardinals,"1,429",585,803,41 (6),0.422,1920,NFC West
31,32,Tampa Bay Buccaneers,759,308,450,1,0.406,1976,NFC South

In [13]:
per= pd.read_json('Persons1.json')

In [14]:
per.columns

Index(['index', 'name', 'isActive', 'registered', 'age', 'gender', 'eyeColor',
       'favoriteFruit', 'company', 'tags'],
      dtype='object')

In [15]:
per

,index,name,isActive,registered,age,gender,eyeColor,favoriteFruit,company,tags
0,0,Aurelia Gonzales,False,2015-02-11T04:22:39+0000,20,female,green,banana,"{'title': 'YURTURE', 'email': 'aureliagonzales...","[enim, id, velit, ad, consequat]"
1,1,Kitty Snow,False,2018-01-23T04:46:15+0000,38,female,blue,apple,"{'title': 'DIGITALUS', 'email': 'kittysnow@dig...","[ut, voluptate, consequat, consequat]"
2,2,Hays Wise,False,2015-02-23T10:22:15+0000,24,male,green,strawberry,"{'title': 'EXIAND', 'email': 'hayswise@exiand....","[amet, ad, elit, ipsum]"
3,3,Karyn Rhodes,True,2014-03-11T03:02:33+0000,39,female,green,strawberry,"{'title': 'RODEMCO', 'email': 'karynrhodes@rod...","[cillum, exercitation, excepteur]"
4,4,Alison Farmer,False,2018-01-22T10:05:45+0000,33,female,brown,banana,"{'title': 'OTHERSIDE', 'email': 'alisonfarmer@...","[deserunt, et, duis, dolor]"
...,...,...,...,...,...,...,...,...,...,...
995,995,Contreras Mcintyre,False,2016-10-19T04:26:38+0000,38,male,brown,banana,"{'title': 'SURETECH', 'email': 'contrerasmcint...","[officia, consectetur]"
996,996,Brown Wiggins,True,2015-12-30T03:40:53+0000,27,male,blue,banana,"{'title': 'BUZZNESS', 'email': 'brownwiggins@b...","[velit, laboris, quis, ullamco]"
997,997,Chrystal Clay,False,2015-02-22T01:22:49+0000,25,female,brown,banana,"{'title': 'YURTURE', 'email': 'chrystalclay@yu...","[dolor, nisi, anim]"
998,998,Britney Bell,False,2014-07-10T06:29:34+0000,39,female,green,banana,"{'title': 'DIGITALUS', 'email': 'britneybell@d...","[nulla, velit]"
999,999,Iva Gonzales,True,2014-12-20T12:23:19+0000,28,female,brown,banana,"{'title': 'EXIAND', 'email': 'ivagonzales@exia...","[reprehenderit, sunt]"

In [16]:
nfl.columns

Index(['Rank', 'Team', 'GP', 'Won', 'Lost', 'Tied[c]', 'Pct.',
       'First NFL season', 'Division'],
      dtype='object')

In [17]:
nfl.head()                          # first five

,Rank,Team,GP,Won,Lost,Tied[c],Pct.,First NFL season,Division
0,1,Dallas Cowboys,981,562,413,6 (0),0.576,1960,NFC East
1,2,Green Bay Packers,"1,435",800,598,38 (8),0.572,1921,NFC North
2,3,Baltimore Ravens,451,256,194,1,0.569,1996,AFC North
3,4,Chicago Bears,"1,469",793,634,42 (1),0.556,1920,NFC North
4,5,New England Patriots,983,541,433,9 (0),0.555,1960,AFC East

In [18]:
nfl.head(2)

,Rank,Team,GP,Won,Lost,Tied[c],Pct.,First NFL season,Division
0,1,Dallas Cowboys,981,562,413,6 (0),0.576,1960,NFC East
1,2,Green Bay Packers,"1,435",800,598,38 (8),0.572,1921,NFC North

In [19]:
nfl.tail()

,Rank,Team,GP,Won,Lost,Tied[c],Pct.,First NFL season,Division
27,28,Atlanta Falcons,899,390,503,6 (2),0.437,1966,NFC South
28,29,Houston Texans,355,152,202,1,0.430,2002,AFC South
29,30,Jacksonville Jaguars,467,198,269,0,0.424,1995,AFC South
30,31,Arizona Cardinals,"1,429",585,803,41 (6),0.422,1920,NFC West
31,32,Tampa Bay Buccaneers,759,308,450,1,0.406,1976,NFC South

In [20]:
nfl.tail(2)

,Rank,Team,GP,Won,Lost,Tied[c],Pct.,First NFL season,Division
30,31,Arizona Cardinals,"1,429",585,803,41 (6),0.422,1920,NFC West
31,32,Tampa Bay Buccaneers,759,308,450,1,0.406,1976,NFC South

In [22]:
nfl.loc[31]

Rank                                  32
Team                Tampa Bay Buccaneers
GP                                   759
Won                                  308
Lost                                 450
Tied[c]                                1
Pct.                               0.406
First NFL season                    1976
Division                       NFC South
Name: 31, dtype: object

In [23]:
nfl.loc[1:2]

,Rank,Team,GP,Won,Lost,Tied[c],Pct.,First NFL season,Division
1,2,Green Bay Packers,"1,435",800,598,38 (8),0.572,1921,NFC North
2,3,Baltimore Ravens,451,256,194,1,0.569,1996,AFC North

In [25]:
nfl.Team

0             Dallas Cowboys
1          Green Bay Packers
2           Baltimore Ravens
3              Chicago Bears
4       New England Patriots
5             Miami Dolphins
6         Kansas City Chiefs
7          Minnesota Vikings
8     San Francisco 49ers[b]
9        Pittsburgh Steelers
10           New York Giants
11     Indianapolis Colts[d]
12            Denver Broncos
13         Las Vegas Raiders
14          Seattle Seahawks
15          Los Angeles Rams
16      Los Angeles Chargers
17       Philadelphia Eagles
18     Washington Commanders
19    Cleveland Browns[b][e]
20          Tennessee Titans
21             Buffalo Bills
22        New Orleans Saints
23         Carolina Panthers
24        Cincinnati Bengals
25             Detroit Lions
26             New York Jets
27           Atlanta Falcons
28            Houston Texans
29      Jacksonville Jaguars
30         Arizona Cardinals
31      Tampa Bay Buccaneers
Name: Team, dtype: object

In [26]:
nfl['Team']

0             Dallas Cowboys
1          Green Bay Packers
2           Baltimore Ravens
3              Chicago Bears
4       New England Patriots
5             Miami Dolphins
6         Kansas City Chiefs
7          Minnesota Vikings
8     San Francisco 49ers[b]
9        Pittsburgh Steelers
10           New York Giants
11     Indianapolis Colts[d]
12            Denver Broncos
13         Las Vegas Raiders
14          Seattle Seahawks
15          Los Angeles Rams
16      Los Angeles Chargers
17       Philadelphia Eagles
18     Washington Commanders
19    Cleveland Browns[b][e]
20          Tennessee Titans
21             Buffalo Bills
22        New Orleans Saints
23         Carolina Panthers
24        Cincinnati Bengals
25             Detroit Lions
26             New York Jets
27           Atlanta Falcons
28            Houston Texans
29      Jacksonville Jaguars
30         Arizona Cardinals
31      Tampa Bay Buccaneers
Name: Team, dtype: object

In [27]:
type(nfl)

pandas.core.frame.DataFrame

In [29]:
nfl[['Team','GP']]

                      Team     GP
0           Dallas Cowboys    981
1        Green Bay Packers  1,435
2         Baltimore Ravens    451
3            Chicago Bears  1,469
4     New England Patriots    983
5           Miami Dolphins    899
6       Kansas City Chiefs    983
7        Minnesota Vikings    969
8   San Francisco 49ers[b]  1,101
9      Pittsburgh Steelers  1,271
10         New York Giants  1,404
11   Indianapolis Colts[d]  1,065
12          Denver Broncos    983
13       Las Vegas Raiders    983
14        Seattle Seahawks    759
15        Los Angeles Rams  1,234
16    Los Angeles Chargers    983
17     Philadelphia Eagles  1,287
18   Washington Commanders  1,301
19  Cleveland Browns[b][e]  1,053
20        Tennessee Titans    983
21           Buffalo Bills    982
22      New Orleans Saints    870
23       Carolina Panthers    467
24      Cincinnati Bengals    869
25           Detroit Lions  1,332
26           New York Jets    983
27         Atlanta Falcons    899
28          Houston Texans    355
29    Jacksonville Jaguars    467
30       Arizona Cardinals  1,429
31    Tampa Bay Buccaneers    759

In [30]:
nfl

,Rank,Team,GP,Won,Lost,Tied[c],Pct.,First NFL season,Division
0,1,Dallas Cowboys,981,562,413,6 (0),0.576,1960,NFC East
1,2,Green Bay Packers,"1,435",800,598,38 (8),0.572,1921,NFC North
2,3,Baltimore Ravens,451,256,194,1,0.569,1996,AFC North
3,4,Chicago Bears,"1,469",793,634,42 (1),0.556,1920,NFC North
4,5,New England Patriots,983,541,433,9 (0),0.555,1960,AFC East
5,6,Miami Dolphins,899,496,399,4 (1),0.554,1966,AFC East
6,7,Kansas City Chiefs,983,532,439,12 (4),0.548,1960,AFC West
7,8,Minnesota Vikings,969,523,435,11 (4),0.546,1961,NFC North
8,9,San Francisco 49ers[b],"1,101",586,501,14 (3),0.539,1950,NFC West
9,10,Pittsburgh Steelers,"1,271",671,578,22 (4),0.537,1933,AFC North
10,11,New York Giants,"1,404",721,649,34 (4),0.526,1925,NFC East
11,12,Indianapolis Colts[d],"1,065",556,501,8 (2),0.526,1953,AFC South
12,13,Denver Broncos,983,508,465,10 (4),0.522,1960,AFC West
13,14,Las Vegas Raiders,983,505,467,11 (2),0.520,1960,AFC West
14,15,Seattle Seahawks,759,392,366,1,0.517,1976,NFC West
15,16,Los Angeles Rams,"1,234",614,599,21 (3),0.506,1937,NFC West
16,17,Los Angeles Chargers,983,483,489,11 (2),0.497,1960,AFC West
17,18,Philadelphia Eagles,"1,287",624,636,27 (7),0.495,1933,NFC East
18,19,Washington Commanders,"1,301",629,643,29 (3),0.495,1932,NFC East
19,20,Cleveland Browns[b][e],"1,053",512,530,11 (4),0.491,1950,AFC North
20,21,Tennessee Titans,983,476,501,6 (0),0.487,1960,AFC South
21,22,Buffalo Bills,982,473,501,8 (1),0.486,1960,AFC East
22,23,New Orleans Saints,870,412,468,5 (1),0.468,1967,NFC South
23,24,Carolina Panthers,467,214,252,1,0.459,1995,NFC South
24,25,Cincinnati Bengals,869,394,471,5 (4),0.456,1968,AFC North
25,26,Detroit Lions,"1,332",591,707,34 (5),0.455,1930,NFC North
26,27,New York Jets,983,428,547,8 (2),0.439,1960,AFC East
27,28,Atlanta Falcons,899,390,503,6 (2),0.437,1966,NFC South
28,29,Houston Texans,355,152,202,1,0.430,2002,AFC South
29,30,Jacksonville Jaguars,467,198,269,0,0.424,1995,AFC South
30,31,Arizona Cardinals,"1,429",585,803,41 (6),0.422,1920,NFC West
31,32,Tampa Bay Buccaneers,759,308,450,1,0.406,1976,NFC South

In [31]:
new_nfl = DataFrame(nfl,columns=['Stadium'])

In [32]:
nfl.columns

Index(['Rank', 'Team', 'GP', 'Won', 'Lost', 'Tied[c]', 'Pct.',
       'First NFL season', 'Division'],
      dtype='object')

In [33]:
new_nfl.columns

Index(['Stadium'], dtype='object')

In [34]:
new_nfl = DataFrame(nfl,columns=['Rank', 'Team', 'GP', 'Won', 'Lost', 'Tied[c]', 'Pct.',
       'First NFL season', 'Division','Stadium'])

In [35]:
new_nfl.columns

Index(['Rank', 'Team', 'GP', 'Won', 'Lost', 'Tied[c]', 'Pct.',
       'First NFL season', 'Division', 'Stadium'],
      dtype='object')

In [36]:
new_nfl

,Rank,Team,GP,Won,Lost,Tied[c],Pct.,First NFL season,Division,Stadium
0,1,Dallas Cowboys,981,562,413,6 (0),0.576,1960,NFC East,NaN
1,2,Green Bay Packers,"1,435",800,598,38 (8),0.572,1921,NFC North,NaN
2,3,Baltimore Ravens,451,256,194,1,0.569,1996,AFC North,NaN
3,4,Chicago Bears,"1,469",793,634,42 (1),0.556,1920,NFC North,NaN
4,5,New England Patriots,983,541,433,9 (0),0.555,1960,AFC East,NaN
5,6,Miami Dolphins,899,496,399,4 (1),0.554,1966,AFC East,NaN
6,7,Kansas City Chiefs,983,532,439,12 (4),0.548,1960,AFC West,NaN
7,8,Minnesota Vikings,969,523,435,11 (4),0.546,1961,NFC North,NaN
8,9,San Francisco 49ers[b],"1,101",586,501,14 (3),0.539,1950,NFC West,NaN
9,10,Pittsburgh Steelers,"1,271",671,578,22 (4),0.537,1933,AFC North,NaN
10,11,New York Giants,"1,404",721,649,34 (4),0.526,1925,NFC East,NaN
11,12,Indianapolis Colts[d],"1,065",556,501,8 (2),0.526,1953,AFC South,NaN
12,13,Denver Broncos,983,508,465,10 (4),0.522,1960,AFC West,NaN
13,14,Las Vegas Raiders,983,505,467,11 (2),0.520,1960,AFC West,NaN
14,15,Seattle Seahawks,759,392,366,1,0.517,1976,NFC West,NaN
15,16,Los Angeles Rams,"1,234",614,599,21 (3),0.506,1937,NFC West,NaN
16,17,Los Angeles Chargers,983,483,489,11 (2),0.497,1960,AFC West,NaN
17,18,Philadelphia Eagles,"1,287",624,636,27 (7),0.495,1933,NFC East,NaN
18,19,Washington Commanders,"1,301",629,643,29 (3),0.495,1932,NFC East,NaN
19,20,Cleveland Browns[b][e],"1,053",512,530,11 (4),0.491,1950,AFC North,NaN
20,21,Tennessee Titans,983,476,501,6 (0),0.487,1960,AFC South,NaN
21,22,Buffalo Bills,982,473,501,8 (1),0.486,1960,AFC East,NaN
22,23,New Orleans Saints,870,412,468,5 (1),0.468,1967,NFC South,NaN
23,24,Carolina Panthers,467,214,252,1,0.459,1995,NFC South,NaN
24,25,Cincinnati Bengals,869,394,471,5 (4),0.456,1968,AFC North,NaN
25,26,Detroit Lions,"1,332",591,707,34 (5),0.455,1930,NFC North,NaN
26,27,New York Jets,983,428,547,8 (2),0.439,1960,AFC East,NaN
27,28,Atlanta Falcons,899,390,503,6 (2),0.437,1966,NFC South,NaN
28,29,Houston Texans,355,152,202,1,0.430,2002,AFC South,NaN
29,30,Jacksonville Jaguars,467,198,269,0,0.424,1995,AFC South,NaN
30,31,Arizona Cardinals,"1,429",585,803,41 (6),0.422,1920,NFC West,NaN
31,32,Tampa Bay Buccaneers,759,308,450,1,0.406,1976,NFC South,NaN

In [37]:
new_nfl['Stadium']='Wankhede'

In [38]:
new_nfl

,Rank,Team,GP,Won,Lost,Tied[c],Pct.,First NFL season,Division,Stadium
0,1,Dallas Cowboys,981,562,413,6 (0),0.576,1960,NFC East,Wankhede
1,2,Green Bay Packers,"1,435",800,598,38 (8),0.572,1921,NFC North,Wankhede
2,3,Baltimore Ravens,451,256,194,1,0.569,1996,AFC North,Wankhede
3,4,Chicago Bears,"1,469",793,634,42 (1),0.556,1920,NFC North,Wankhede
4,5,New England Patriots,983,541,433,9 (0),0.555,1960,AFC East,Wankhede
5,6,Miami Dolphins,899,496,399,4 (1),0.554,1966,AFC East,Wankhede
6,7,Kansas City Chiefs,983,532,439,12 (4),0.548,1960,AFC West,Wankhede
7,8,Minnesota Vikings,969,523,435,11 (4),0.546,1961,NFC North,Wankhede
8,9,San Francisco 49ers[b],"1,101",586,501,14 (3),0.539,1950,NFC West,Wankhede
9,10,Pittsburgh Steelers,"1,271",671,578,22 (4),0.537,1933,AFC North,Wankhede
10,11,New York Giants,"1,404",721,649,34 (4),0.526,1925,NFC East,Wankhede
11,12,Indianapolis Colts[d],"1,065",556,501,8 (2),0.526,1953,AFC South,Wankhede
12,13,Denver Broncos,983,508,465,10 (4),0.522,1960,AFC West,Wankhede
13,14,Las Vegas Raiders,983,505,467,11 (2),0.520,1960,AFC West,Wankhede
14,15,Seattle Seahawks,759,392,366,1,0.517,1976,NFC West,Wankhede
15,16,Los Angeles Rams,"1,234",614,599,21 (3),0.506,1937,NFC West,Wankhede
16,17,Los Angeles Chargers,983,483,489,11 (2),0.497,1960,AFC West,Wankhede
17,18,Philadelphia Eagles,"1,287",624,636,27 (7),0.495,1933,NFC East,Wankhede
18,19,Washington Commanders,"1,301",629,643,29 (3),0.495,1932,NFC East,Wankhede
19,20,Cleveland Browns[b][e],"1,053",512,530,11 (4),0.491,1950,AFC North,Wankhede
20,21,Tennessee Titans,983,476,501,6 (0),0.487,1960,AFC South,Wankhede
21,22,Buffalo Bills,982,473,501,8 (1),0.486,1960,AFC East,Wankhede
22,23,New Orleans Saints,870,412,468,5 (1),0.468,1967,NFC South,Wankhede
23,24,Carolina Panthers,467,214,252,1,0.459,1995,NFC South,Wankhede
24,25,Cincinnati Bengals,869,394,471,5 (4),0.456,1968,AFC North,Wankhede
25,26,Detroit Lions,"1,332",591,707,34 (5),0.455,1930,NFC North,Wankhede
26,27,New York Jets,983,428,547,8 (2),0.439,1960,AFC East,Wankhede
27,28,Atlanta Falcons,899,390,503,6 (2),0.437,1966,NFC South,Wankhede
28,29,Houston Texans,355,152,202,1,0.430,2002,AFC South,Wankhede
29,30,Jacksonville Jaguars,467,198,269,0,0.424,1995,AFC South,Wankhede
30,31,Arizona Cardinals,"1,429",585,803,41 (6),0.422,1920,NFC West,Wankhede
31,32,Tampa Bay Buccaneers,759,308,450,1,0.406,1976,NFC South,Wankhede

In [39]:
std = Series(['ASta','BSta'],index=[5,0])

In [40]:
new_nfl['Stadium']=std

In [41]:
new_nfl

,Rank,Team,GP,Won,Lost,Tied[c],Pct.,First NFL season,Division,Stadium
0,1,Dallas Cowboys,981,562,413,6 (0),0.576,1960,NFC East,BSta
1,2,Green Bay Packers,"1,435",800,598,38 (8),0.572,1921,NFC North,NaN
2,3,Baltimore Ravens,451,256,194,1,0.569,1996,AFC North,NaN
3,4,Chicago Bears,"1,469",793,634,42 (1),0.556,1920,NFC North,NaN
4,5,New England Patriots,983,541,433,9 (0),0.555,1960,AFC East,NaN
5,6,Miami Dolphins,899,496,399,4 (1),0.554,1966,AFC East,ASta
6,7,Kansas City Chiefs,983,532,439,12 (4),0.548,1960,AFC West,NaN
7,8,Minnesota Vikings,969,523,435,11 (4),0.546,1961,NFC North,NaN
8,9,San Francisco 49ers[b],"1,101",586,501,14 (3),0.539,1950,NFC West,NaN
9,10,Pittsburgh Steelers,"1,271",671,578,22 (4),0.537,1933,AFC North,NaN
10,11,New York Giants,"1,404",721,649,34 (4),0.526,1925,NFC East,NaN
11,12,Indianapolis Colts[d],"1,065",556,501,8 (2),0.526,1953,AFC South,NaN
12,13,Denver Broncos,983,508,465,10 (4),0.522,1960,AFC West,NaN
13,14,Las Vegas Raiders,983,505,467,11 (2),0.520,1960,AFC West,NaN
14,15,Seattle Seahawks,759,392,366,1,0.517,1976,NFC West,NaN
15,16,Los Angeles Rams,"1,234",614,599,21 (3),0.506,1937,NFC West,NaN
16,17,Los Angeles Chargers,983,483,489,11 (2),0.497,1960,AFC West,NaN
17,18,Philadelphia Eagles,"1,287",624,636,27 (7),0.495,1933,NFC East,NaN
18,19,Washington Commanders,"1,301",629,643,29 (3),0.495,1932,NFC East,NaN
19,20,Cleveland Browns[b][e],"1,053",512,530,11 (4),0.491,1950,AFC North,NaN
20,21,Tennessee Titans,983,476,501,6 (0),0.487,1960,AFC South,NaN
21,22,Buffalo Bills,982,473,501,8 (1),0.486,1960,AFC East,NaN
22,23,New Orleans Saints,870,412,468,5 (1),0.468,1967,NFC South,NaN
23,24,Carolina Panthers,467,214,252,1,0.459,1995,NFC South,NaN
24,25,Cincinnati Bengals,869,394,471,5 (4),0.456,1968,AFC North,NaN
25,26,Detroit Lions,"1,332",591,707,34 (5),0.455,1930,NFC North,NaN
26,27,New York Jets,983,428,547,8 (2),0.439,1960,AFC East,NaN
27,28,Atlanta Falcons,899,390,503,6 (2),0.437,1966,NFC South,NaN
28,29,Houston Texans,355,152,202,1,0.430,2002,AFC South,NaN
29,30,Jacksonville Jaguars,467,198,269,0,0.424,1995,AFC South,NaN
30,31,Arizona Cardinals,"1,429",585,803,41 (6),0.422,1920,NFC West,NaN
31,32,Tampa Bay Buccaneers,759,308,450,1,0.406,1976,NFC South,NaN

In [42]:
nfl[0:5]

,Rank,Team,GP,Won,Lost,Tied[c],Pct.,First NFL season,Division
0,1,Dallas Cowboys,981,562,413,6 (0),0.576,1960,NFC East
1,2,Green Bay Packers,"1,435",800,598,38 (8),0.572,1921,NFC North
2,3,Baltimore Ravens,451,256,194,1,0.569,1996,AFC North
3,4,Chicago Bears,"1,469",793,634,42 (1),0.556,1920,NFC North
4,5,New England Patriots,983,541,433,9 (0),0.555,1960,AFC East

In [43]:
nfl[10:15]

,Rank,Team,GP,Won,Lost,Tied[c],Pct.,First NFL season,Division
10,11,New York Giants,"1,404",721,649,34 (4),0.526,1925,NFC East
11,12,Indianapolis Colts[d],"1,065",556,501,8 (2),0.526,1953,AFC South
12,13,Denver Broncos,983,508,465,10 (4),0.522,1960,AFC West
13,14,Las Vegas Raiders,983,505,467,11 (2),0.520,1960,AFC West
14,15,Seattle Seahawks,759,392,366,1,0.517,1976,NFC West

In [44]:
my_ser= Series([1,2,3,4],index=['A','B','C','D'])

In [45]:
my_ser

A    1
B    2
C    3
D    4
dtype: int64

In [46]:
my_index = my_ser.index

In [47]:
my_index

Index(['A', 'B', 'C', 'D'], dtype='object')

In [48]:
my_index[2]

'C'

In [49]:
my_index[:2]

Index(['A', 'B'], dtype='object')

In [50]:
my_index[2]='Z'

<class 'TypeError'>: Index does not support mutable operations

In [51]:
ser2 = my_ser.reindex(['A', 'B', 'Z', 'D'])

In [52]:
my_ser

A    1
B    2
C    3
D    4
dtype: int64

In [53]:
ser2

A    1.0
B    2.0
Z    NaN
D    4.0
dtype: float64

In [54]:
ser3 = my_ser.reindex(['A', 'B', 'C', 'D','Z'])

In [55]:
ser3

A    1.0
B    2.0
C    3.0
D    4.0
Z    NaN
dtype: float64

In [66]:
ser3 = my_ser.reindex(['A', 'B', 'C', 'D','Z'],fill_value=1)

In [67]:
ser3

A    1
B    2
C    3
D    4
Z    1
dtype: int64

In [68]:
ser4 = Series(['india','usa','uk'],index=[0,5,10])

ser4

In [69]:
ser4

0     india
5       usa
10       uk
dtype: object

In [70]:
ranger= range(15)

In [76]:
ser3.reindex(ranger,method=ser3.ffil())

<class 'AttributeError'>: 'Series' object has no attribute 'ffil'

In [72]:
ser4

0     india
5       usa
10       uk
dtype: object

In [73]:
ser4.ffill()

0     india
5       usa
10       uk
dtype: object

In [78]:
dframe = DataFrame(randn(25).reshape((5,5)),index=['A','B','D','E','F'],columns=['col1','col2','col3','col4','col5'])

In [79]:
dframe

       col1      col2      col3      col4      col5
A -1.879778  0.285921 -0.541037  1.387257  0.027960
B -0.487228  0.439826  0.307982 -0.514733  2.000562
D  1.920728 -0.934414  0.349273 -0.819170  1.255521
E  0.098898  1.055751  0.795635  0.565235  0.787135
F -0.258517 -0.349777 -1.176279 -0.651611 -0.600370

In [80]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])

In [81]:
dframe

       col1      col2      col3      col4      col5
A -1.879778  0.285921 -0.541037  1.387257  0.027960
B -0.487228  0.439826  0.307982 -0.514733  2.000562
D  1.920728 -0.934414  0.349273 -0.819170  1.255521
E  0.098898  1.055751  0.795635  0.565235  0.787135
F -0.258517 -0.349777 -1.176279 -0.651611 -0.600370

In [82]:
dframe2

       col1      col2      col3      col4      col5
A -1.879778  0.285921 -0.541037  1.387257  0.027960
B -0.487228  0.439826  0.307982 -0.514733  2.000562
C       NaN       NaN       NaN       NaN       NaN
D  1.920728 -0.934414  0.349273 -0.819170  1.255521
E  0.098898  1.055751  0.795635  0.565235  0.787135
F -0.258517 -0.349777 -1.176279 -0.651611 -0.600370

In [83]:
cols = ['col1','col2','col2.2','col3','col4','col5']

In [86]:
dframe2 = dframe2.reindex(columns=cols)

In [87]:
dframe2

       col1      col2  col2.2      col3      col4      col5
A -1.879778  0.285921     NaN -0.541037  1.387257  0.027960
B -0.487228  0.439826     NaN  0.307982 -0.514733  2.000562
C       NaN       NaN     NaN       NaN       NaN       NaN
D  1.920728 -0.934414     NaN  0.349273 -0.819170  1.255521
E  0.098898  1.055751     NaN  0.795635  0.565235  0.787135
F -0.258517 -0.349777     NaN -1.176279 -0.651611 -0.600370

In [88]:
ser1

0    2300
1    3450
2     345
dtype: int64

In [89]:
ser1.drop(0)

1    3450
2     345
dtype: int64

In [90]:
ser1

0    2300
1    3450
2     345
dtype: int64

In [91]:
dframe1

<class 'NameError'>: name 'dframe1' is not defined

In [92]:
dframe

       col1      col2      col3      col4      col5
A -1.879778  0.285921 -0.541037  1.387257  0.027960
B -0.487228  0.439826  0.307982 -0.514733  2.000562
D  1.920728 -0.934414  0.349273 -0.819170  1.255521
E  0.098898  1.055751  0.795635  0.565235  0.787135
F -0.258517 -0.349777 -1.176279 -0.651611 -0.600370

In [95]:
dframe.drop('col1',axis=1)

       col2      col3      col4      col5
A  0.285921 -0.541037  1.387257  0.027960
B  0.439826  0.307982 -0.514733  2.000562
D -0.934414  0.349273 -0.819170  1.255521
E  1.055751  0.795635  0.565235  0.787135
F -0.349777 -1.176279 -0.651611 -0.600370

In [96]:
dframe2

       col1      col2  col2.2      col3      col4      col5
A -1.879778  0.285921     NaN -0.541037  1.387257  0.027960
B -0.487228  0.439826     NaN  0.307982 -0.514733  2.000562
C       NaN       NaN     NaN       NaN       NaN       NaN
D  1.920728 -0.934414     NaN  0.349273 -0.819170  1.255521
E  0.098898  1.055751     NaN  0.795635  0.565235  0.787135
F -0.258517 -0.349777     NaN -1.176279 -0.651611 -0.600370

In [97]:
dframe2.dropna()                                    #how=any default

Empty DataFrame
Columns: [col1, col2, col2.2, col3, col4, col5]
Index: []

In [102]:
dframe2.dropna(axis=1)

Empty DataFrame
Columns: []
Index: [A, B, C, D, E, F]

In [101]:
dframe.dropna(how='all')

       col1      col2      col3      col4      col5
A -1.879778  0.285921 -0.541037  1.387257  0.027960
B -0.487228  0.439826  0.307982 -0.514733  2.000562
D  1.920728 -0.934414  0.349273 -0.819170  1.255521
E  0.098898  1.055751  0.795635  0.565235  0.787135
F -0.258517 -0.349777 -1.176279 -0.651611 -0.600370

In [103]:
dframe2

       col1      col2  col2.2      col3      col4      col5
A -1.879778  0.285921     NaN -0.541037  1.387257  0.027960
B -0.487228  0.439826     NaN  0.307982 -0.514733  2.000562
C       NaN       NaN     NaN       NaN       NaN       NaN
D  1.920728 -0.934414     NaN  0.349273 -0.819170  1.255521
E  0.098898  1.055751     NaN  0.795635  0.565235  0.787135
F -0.258517 -0.349777     NaN -1.176279 -0.651611 -0.600370

In [105]:
df1 = DataFrame([[1,2,3],[np.nan,5,6],[7,np.nan,9],[np.nan,np.nan,np.nan]])

#

In [106]:
df1

     0    1    2
0  1.0  2.0  3.0
1  NaN  5.0  6.0
2  7.0  NaN  9.0
3  NaN  NaN  NaN

In [108]:
df1.dropna()

     0    1    2
0  1.0  2.0  3.0

In [109]:
df1.dropna(axis=1)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

In [110]:
df1.dropna(thresh=2)      # not null value

     0    1    2
0  1.0  2.0  3.0
1  NaN  5.0  6.0
2  7.0  NaN  9.0

In [111]:
df1.fillna(1)

     0    1    2
0  1.0  2.0  3.0
1  1.0  5.0  6.0
2  7.0  1.0  9.0
3  1.0  1.0  1.0

In [112]:
df1.ffill()

     0    1    2
0  1.0  2.0  3.0
1  1.0  5.0  6.0
2  7.0  5.0  9.0
3  7.0  5.0  9.0

In [113]:
df1

     0    1    2
0  1.0  2.0  3.0
1  NaN  5.0  6.0
2  7.0  NaN  9.0
3  NaN  NaN  NaN

In [114]:
df1.backfill()

<ipython-input-114-dc3d01468314>:1: FutureWarning: DataFrame.backfill/Series.backfill is deprecated. Use DataFrame.bfill/Series.bfill instead
  df1.backfill()

     0    1    2
0  1.0  2.0  3.0
1  7.0  5.0  6.0
2  7.0  NaN  9.0
3  NaN  NaN  NaN

In [115]:
df1.fillna({0:0,1:1,2:2})

     0    1    2
0  1.0  2.0  3.0
1  0.0  5.0  6.0
2  7.0  1.0  9.0
3  0.0  1.0  2.0

In [116]:
ser1

0    2300
1    3450
2     345
dtype: int64

In [117]:
ser1[ser1>1000]                     #condition

0    2300
1    3450
dtype: int64

In [119]:
ser1[ser1<1000]=1000

In [121]:
ser1

0    2300
1    3450
2    1000
dtype: int64

In [122]:
nfl

,Rank,Team,GP,Won,Lost,Tied[c],Pct.,First NFL season,Division
0,1,Dallas Cowboys,981,562,413,6 (0),0.576,1960,NFC East
1,2,Green Bay Packers,"1,435",800,598,38 (8),0.572,1921,NFC North
2,3,Baltimore Ravens,451,256,194,1,0.569,1996,AFC North
3,4,Chicago Bears,"1,469",793,634,42 (1),0.556,1920,NFC North
4,5,New England Patriots,983,541,433,9 (0),0.555,1960,AFC East
5,6,Miami Dolphins,899,496,399,4 (1),0.554,1966,AFC East
6,7,Kansas City Chiefs,983,532,439,12 (4),0.548,1960,AFC West
7,8,Minnesota Vikings,969,523,435,11 (4),0.546,1961,NFC North
8,9,San Francisco 49ers[b],"1,101",586,501,14 (3),0.539,1950,NFC West
9,10,Pittsburgh Steelers,"1,271",671,578,22 (4),0.537,1933,AFC North
10,11,New York Giants,"1,404",721,649,34 (4),0.526,1925,NFC East
11,12,Indianapolis Colts[d],"1,065",556,501,8 (2),0.526,1953,AFC South
12,13,Denver Broncos,983,508,465,10 (4),0.522,1960,AFC West
13,14,Las Vegas Raiders,983,505,467,11 (2),0.520,1960,AFC West
14,15,Seattle Seahawks,759,392,366,1,0.517,1976,NFC West
15,16,Los Angeles Rams,"1,234",614,599,21 (3),0.506,1937,NFC West
16,17,Los Angeles Chargers,983,483,489,11 (2),0.497,1960,AFC West
17,18,Philadelphia Eagles,"1,287",624,636,27 (7),0.495,1933,NFC East
18,19,Washington Commanders,"1,301",629,643,29 (3),0.495,1932,NFC East
19,20,Cleveland Browns[b][e],"1,053",512,530,11 (4),0.491,1950,AFC North
20,21,Tennessee Titans,983,476,501,6 (0),0.487,1960,AFC South
21,22,Buffalo Bills,982,473,501,8 (1),0.486,1960,AFC East
22,23,New Orleans Saints,870,412,468,5 (1),0.468,1967,NFC South
23,24,Carolina Panthers,467,214,252,1,0.459,1995,NFC South
24,25,Cincinnati Bengals,869,394,471,5 (4),0.456,1968,AFC North
25,26,Detroit Lions,"1,332",591,707,34 (5),0.455,1930,NFC North
26,27,New York Jets,983,428,547,8 (2),0.439,1960,AFC East
27,28,Atlanta Falcons,899,390,503,6 (2),0.437,1966,NFC South
28,29,Houston Texans,355,152,202,1,0.430,2002,AFC South
29,30,Jacksonville Jaguars,467,198,269,0,0.424,1995,AFC South
30,31,Arizona Cardinals,"1,429",585,803,41 (6),0.422,1920,NFC West
31,32,Tampa Bay Buccaneers,759,308,450,1,0.406,1976,NFC South

In [123]:
nfl[['Team','Won','Lost']]

                      Team  Won  Lost
0           Dallas Cowboys  562   413
1        Green Bay Packers  800   598
2         Baltimore Ravens  256   194
3            Chicago Bears  793   634
4     New England Patriots  541   433
5           Miami Dolphins  496   399
6       Kansas City Chiefs  532   439
7        Minnesota Vikings  523   435
8   San Francisco 49ers[b]  586   501
9      Pittsburgh Steelers  671   578
10         New York Giants  721   649
11   Indianapolis Colts[d]  556   501
12          Denver Broncos  508   465
13       Las Vegas Raiders  505   467
14        Seattle Seahawks  392   366
15        Los Angeles Rams  614   599
16    Los Angeles Chargers  483   489
17     Philadelphia Eagles  624   636
18   Washington Commanders  629   643
19  Cleveland Browns[b][e]  512   530
20        Tennessee Titans  476   501
21           Buffalo Bills  473   501
22      New Orleans Saints  412   468
23       Carolina Panthers  214   252
24      Cincinnati Bengals  394   471
25           Detroit Lions  591   707
26           New York Jets  428   547
27         Atlanta Falcons  390   503
28          Houston Texans  152   202
29    Jacksonville Jaguars  198   269
30       Arizona Cardinals  585   803
31    Tampa Bay Buccaneers  308   450

In [124]:
nfl[nfl['Won']>500]

,Rank,Team,GP,Won,Lost,Tied[c],Pct.,First NFL season,Division
0,1,Dallas Cowboys,981,562,413,6 (0),0.576,1960,NFC East
1,2,Green Bay Packers,"1,435",800,598,38 (8),0.572,1921,NFC North
3,4,Chicago Bears,"1,469",793,634,42 (1),0.556,1920,NFC North
4,5,New England Patriots,983,541,433,9 (0),0.555,1960,AFC East
6,7,Kansas City Chiefs,983,532,439,12 (4),0.548,1960,AFC West
7,8,Minnesota Vikings,969,523,435,11 (4),0.546,1961,NFC North
8,9,San Francisco 49ers[b],"1,101",586,501,14 (3),0.539,1950,NFC West
9,10,Pittsburgh Steelers,"1,271",671,578,22 (4),0.537,1933,AFC North
10,11,New York Giants,"1,404",721,649,34 (4),0.526,1925,NFC East
11,12,Indianapolis Colts[d],"1,065",556,501,8 (2),0.526,1953,AFC South
12,13,Denver Broncos,983,508,465,10 (4),0.522,1960,AFC West
13,14,Las Vegas Raiders,983,505,467,11 (2),0.520,1960,AFC West
15,16,Los Angeles Rams,"1,234",614,599,21 (3),0.506,1937,NFC West
17,18,Philadelphia Eagles,"1,287",624,636,27 (7),0.495,1933,NFC East
18,19,Washington Commanders,"1,301",629,643,29 (3),0.495,1932,NFC East
19,20,Cleveland Browns[b][e],"1,053",512,530,11 (4),0.491,1950,AFC North
25,26,Detroit Lions,"1,332",591,707,34 (5),0.455,1930,NFC North
30,31,Arizona Cardinals,"1,429",585,803,41 (6),0.422,1920,NFC West

In [133]:
nfl[nfl['Won']>500 | nfl['Lost']<500]

<class 'ValueError'>: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [135]:
nfl.sum()

Rank                                                              528
Team                Dallas CowboysGreen Bay PackersBaltimore Raven...
GP                  9811,4354511,4699838999839691,1011,2711,4041,0...
Won                                                             15925
Lost                                                            15643
Tied[c]             6 (0)38 (8)142 (1)9 (0)4 (1)12 (4)11 (4)14 (3)...
Pct.                                                           16.016
First NFL season                                                62612
Division            NFC EastNFC NorthAFC NorthNFC NorthAFC EastAFC...
dtype: object

In [136]:
nfl['Won'].sum()

15925

In [137]:
nfl['Won'].min()

152

In [138]:
nfl['Won'].idxmin()

28

In [139]:
nfl['Won'].max()

800

In [140]:
nfl['Won'].idxmax()

1

In [141]:
nfl.iloc[1]

Rank                                2
Team                Green Bay Packers
GP                              1,435
Won                               800
Lost                              598
Tied[c]                        38 (8)
Pct.                            0.572
First NFL season                 1921
Division                    NFC North
Name: 1, dtype: object

In [142]:
nfl['Won'].cumsum()

0       562
1      1362
2      1618
3      2411
4      2952
5      3448
6      3980
7      4503
8      5089
9      5760
10     6481
11     7037
12     7545
13     8050
14     8442
15     9056
16     9539
17    10163
18    10792
19    11304
20    11780
21    12253
22    12665
23    12879
24    13273
25    13864
26    14292
27    14682
28    14834
29    15032
30    15617
31    15925
Name: Won, dtype: int64

In [144]:
nfl['Won'].corr

<bound method Series.corr of 0     562
1     800
2     256
3     793
4     541
5     496
6     532
7     523
8     586
9     671
10    721
11    556
12    508
13    505
14    392
15    614
16    483
17    624
18    629
19    512
20    476
21    473
22    412
23    214
24    394
25    591
26    428
27    390
28    152
29    198
30    585
31    308
Name: Won, dtype: int64>

In [146]:
nfl.aggregate({'Won':'min'})

Won    152
dtype: int64

In [148]:
nfl.aggregate({'Won':['min','max','mean']})

            Won
min   152.00000
max   800.00000
mean  497.65625

In [151]:
nfl.aggregate({'Won':['min','max','mean'],'Lost':['min','max','mean']})

            Won       Lost
min   152.00000  194.00000
max   800.00000  803.00000
mean  497.65625  488.84375

In [153]:
nfl.sort_values('Team')

,Rank,Team,GP,Won,Lost,Tied[c],Pct.,First NFL season,Division
30,31,Arizona Cardinals,"1,429",585,803,41 (6),0.422,1920,NFC West
27,28,Atlanta Falcons,899,390,503,6 (2),0.437,1966,NFC South
2,3,Baltimore Ravens,451,256,194,1,0.569,1996,AFC North
21,22,Buffalo Bills,982,473,501,8 (1),0.486,1960,AFC East
23,24,Carolina Panthers,467,214,252,1,0.459,1995,NFC South
3,4,Chicago Bears,"1,469",793,634,42 (1),0.556,1920,NFC North
24,25,Cincinnati Bengals,869,394,471,5 (4),0.456,1968,AFC North
19,20,Cleveland Browns[b][e],"1,053",512,530,11 (4),0.491,1950,AFC North
0,1,Dallas Cowboys,981,562,413,6 (0),0.576,1960,NFC East
12,13,Denver Broncos,983,508,465,10 (4),0.522,1960,AFC West
25,26,Detroit Lions,"1,332",591,707,34 (5),0.455,1930,NFC North
1,2,Green Bay Packers,"1,435",800,598,38 (8),0.572,1921,NFC North
28,29,Houston Texans,355,152,202,1,0.430,2002,AFC South
11,12,Indianapolis Colts[d],"1,065",556,501,8 (2),0.526,1953,AFC South
29,30,Jacksonville Jaguars,467,198,269,0,0.424,1995,AFC South
6,7,Kansas City Chiefs,983,532,439,12 (4),0.548,1960,AFC West
13,14,Las Vegas Raiders,983,505,467,11 (2),0.520,1960,AFC West
16,17,Los Angeles Chargers,983,483,489,11 (2),0.497,1960,AFC West
15,16,Los Angeles Rams,"1,234",614,599,21 (3),0.506,1937,NFC West
5,6,Miami Dolphins,899,496,399,4 (1),0.554,1966,AFC East
7,8,Minnesota Vikings,969,523,435,11 (4),0.546,1961,NFC North
4,5,New England Patriots,983,541,433,9 (0),0.555,1960,AFC East
22,23,New Orleans Saints,870,412,468,5 (1),0.468,1967,NFC South
10,11,New York Giants,"1,404",721,649,34 (4),0.526,1925,NFC East
26,27,New York Jets,983,428,547,8 (2),0.439,1960,AFC East
17,18,Philadelphia Eagles,"1,287",624,636,27 (7),0.495,1933,NFC East
9,10,Pittsburgh Steelers,"1,271",671,578,22 (4),0.537,1933,AFC North
8,9,San Francisco 49ers[b],"1,101",586,501,14 (3),0.539,1950,NFC West
14,15,Seattle Seahawks,759,392,366,1,0.517,1976,NFC West
31,32,Tampa Bay Buccaneers,759,308,450,1,0.406,1976,NFC South
20,21,Tennessee Titans,983,476,501,6 (0),0.487,1960,AFC South
18,19,Washington Commanders,"1,301",629,643,29 (3),0.495,1932,NFC East

In [154]:
nfl.sort_values('Won')

,Rank,Team,GP,Won,Lost,Tied[c],Pct.,First NFL season,Division
28,29,Houston Texans,355,152,202,1,0.430,2002,AFC South
29,30,Jacksonville Jaguars,467,198,269,0,0.424,1995,AFC South
23,24,Carolina Panthers,467,214,252,1,0.459,1995,NFC South
2,3,Baltimore Ravens,451,256,194,1,0.569,1996,AFC North
31,32,Tampa Bay Buccaneers,759,308,450,1,0.406,1976,NFC South
27,28,Atlanta Falcons,899,390,503,6 (2),0.437,1966,NFC South
14,15,Seattle Seahawks,759,392,366,1,0.517,1976,NFC West
24,25,Cincinnati Bengals,869,394,471,5 (4),0.456,1968,AFC North
22,23,New Orleans Saints,870,412,468,5 (1),0.468,1967,NFC South
26,27,New York Jets,983,428,547,8 (2),0.439,1960,AFC East
21,22,Buffalo Bills,982,473,501,8 (1),0.486,1960,AFC East
20,21,Tennessee Titans,983,476,501,6 (0),0.487,1960,AFC South
16,17,Los Angeles Chargers,983,483,489,11 (2),0.497,1960,AFC West
5,6,Miami Dolphins,899,496,399,4 (1),0.554,1966,AFC East
13,14,Las Vegas Raiders,983,505,467,11 (2),0.520,1960,AFC West
12,13,Denver Broncos,983,508,465,10 (4),0.522,1960,AFC West
19,20,Cleveland Browns[b][e],"1,053",512,530,11 (4),0.491,1950,AFC North
7,8,Minnesota Vikings,969,523,435,11 (4),0.546,1961,NFC North
6,7,Kansas City Chiefs,983,532,439,12 (4),0.548,1960,AFC West
4,5,New England Patriots,983,541,433,9 (0),0.555,1960,AFC East
11,12,Indianapolis Colts[d],"1,065",556,501,8 (2),0.526,1953,AFC South
0,1,Dallas Cowboys,981,562,413,6 (0),0.576,1960,NFC East
30,31,Arizona Cardinals,"1,429",585,803,41 (6),0.422,1920,NFC West
8,9,San Francisco 49ers[b],"1,101",586,501,14 (3),0.539,1950,NFC West
25,26,Detroit Lions,"1,332",591,707,34 (5),0.455,1930,NFC North
15,16,Los Angeles Rams,"1,234",614,599,21 (3),0.506,1937,NFC West
17,18,Philadelphia Eagles,"1,287",624,636,27 (7),0.495,1933,NFC East
18,19,Washington Commanders,"1,301",629,643,29 (3),0.495,1932,NFC East
9,10,Pittsburgh Steelers,"1,271",671,578,22 (4),0.537,1933,AFC North
10,11,New York Giants,"1,404",721,649,34 (4),0.526,1925,NFC East
3,4,Chicago Bears,"1,469",793,634,42 (1),0.556,1920,NFC North
1,2,Green Bay Packers,"1,435",800,598,38 (8),0.572,1921,NFC North

In [156]:
nfl.sort_values(['GP','Lost'])

,Rank,Team,GP,Won,Lost,Tied[c],Pct.,First NFL season,Division
19,20,Cleveland Browns[b][e],"1,053",512,530,11 (4),0.491,1950,AFC North
11,12,Indianapolis Colts[d],"1,065",556,501,8 (2),0.526,1953,AFC South
8,9,San Francisco 49ers[b],"1,101",586,501,14 (3),0.539,1950,NFC West
15,16,Los Angeles Rams,"1,234",614,599,21 (3),0.506,1937,NFC West
9,10,Pittsburgh Steelers,"1,271",671,578,22 (4),0.537,1933,AFC North
17,18,Philadelphia Eagles,"1,287",624,636,27 (7),0.495,1933,NFC East
18,19,Washington Commanders,"1,301",629,643,29 (3),0.495,1932,NFC East
25,26,Detroit Lions,"1,332",591,707,34 (5),0.455,1930,NFC North
10,11,New York Giants,"1,404",721,649,34 (4),0.526,1925,NFC East
30,31,Arizona Cardinals,"1,429",585,803,41 (6),0.422,1920,NFC West
1,2,Green Bay Packers,"1,435",800,598,38 (8),0.572,1921,NFC North
3,4,Chicago Bears,"1,469",793,634,42 (1),0.556,1920,NFC North
28,29,Houston Texans,355,152,202,1,0.430,2002,AFC South
2,3,Baltimore Ravens,451,256,194,1,0.569,1996,AFC North
23,24,Carolina Panthers,467,214,252,1,0.459,1995,NFC South
29,30,Jacksonville Jaguars,467,198,269,0,0.424,1995,AFC South
14,15,Seattle Seahawks,759,392,366,1,0.517,1976,NFC West
31,32,Tampa Bay Buccaneers,759,308,450,1,0.406,1976,NFC South
24,25,Cincinnati Bengals,869,394,471,5 (4),0.456,1968,AFC North
22,23,New Orleans Saints,870,412,468,5 (1),0.468,1967,NFC South
5,6,Miami Dolphins,899,496,399,4 (1),0.554,1966,AFC East
27,28,Atlanta Falcons,899,390,503,6 (2),0.437,1966,NFC South
7,8,Minnesota Vikings,969,523,435,11 (4),0.546,1961,NFC North
0,1,Dallas Cowboys,981,562,413,6 (0),0.576,1960,NFC East
21,22,Buffalo Bills,982,473,501,8 (1),0.486,1960,AFC East
4,5,New England Patriots,983,541,433,9 (0),0.555,1960,AFC East
6,7,Kansas City Chiefs,983,532,439,12 (4),0.548,1960,AFC West
12,13,Denver Broncos,983,508,465,10 (4),0.522,1960,AFC West
13,14,Las Vegas Raiders,983,505,467,11 (2),0.520,1960,AFC West
16,17,Los Angeles Chargers,983,483,489,11 (2),0.497,1960,AFC West
20,21,Tennessee Titans,983,476,501,6 (0),0.487,1960,AFC South
26,27,New York Jets,983,428,547,8 (2),0.439,1960,AFC East

In [157]:
nfl.rank()

    Rank  Team    GP   Won  Lost  Tied[c]  Pct.  First NFL season  Division
0    1.0   9.0  24.0  22.0   7.0     26.5  32.0              17.0      18.5
1    2.0  12.0  11.0  32.0  25.0     20.0  31.0               3.0      22.5
2    3.0   3.0  14.0   4.0   1.0      4.0  30.0              31.0       6.5
3    4.0   6.0  12.0  31.0  27.0     23.0  29.0               1.5      22.5
4    5.0  22.0  29.0  20.0   8.0     32.0  28.0              17.0       2.5
5    6.0  20.0  21.5  14.0   6.0     21.0  27.0              23.5       2.5
6    7.0  16.0  29.0  19.0  10.0     12.0  26.0              17.0      14.5
7    8.0  21.0  23.0  18.0   9.0     10.5  25.0              22.0      22.5
8    9.0  28.0   3.0  24.0  18.5     13.0  24.0              10.5      30.5
9   10.0  27.0   5.0  29.0  24.0     15.0  23.0               7.5       6.5
10  11.0  24.0   9.0  30.0  30.0     18.0  21.5               4.0      18.5
11  12.0  14.0   2.0  21.0  18.5     30.5  21.5              12.0      10.5
12  13.0  10.0  29.0  16.0  12.0      7.0  20.0              17.0      14.5
13  14.0  17.0  29.0  15.0  13.0      8.5  19.0              17.0      14.5
14  15.0  29.0  17.5   7.0   5.0      4.0  18.0              27.5      30.5
15  16.0  19.0   4.0  26.0  26.0     14.0  17.0               9.0      30.5
16  17.0  18.0  29.0  13.0  16.0      8.5  16.0              17.0      14.5
17  18.0  26.0   6.0  27.0  28.0     16.0  14.5               7.5      18.5
18  19.0  32.0   7.0  28.0  29.0     17.0  14.5               6.0      18.5
19  20.0   8.0   1.0  17.0  22.0     10.5  13.0              10.5       6.5
20  21.0  31.0  29.0  12.0  18.5     26.5  12.0              17.0      10.5
21  22.0   4.0  25.0  11.0  18.5     29.0  11.0              17.0       2.5
22  23.0  23.0  20.0   9.0  14.0     24.0  10.0              25.0      26.5
23  24.0   5.0  15.5   3.0   3.0      4.0   9.0              29.5      26.5
24  25.0   7.0  19.0   8.0  15.0     25.0   8.0              26.0       6.5
25  26.0  11.0   8.0  25.0  31.0     19.0   7.0               5.0      22.5
26  27.0  25.0  29.0  10.0  23.0     30.5   6.0              17.0       2.5
27  28.0   2.0  21.5   6.0  21.0     28.0   5.0              23.5      26.5
28  29.0  13.0  13.0   1.0   2.0      4.0   4.0              32.0      10.5
29  30.0  15.0  15.5   2.0   4.0      1.0   3.0              29.5      10.5
30  31.0   1.0  10.0  23.0  32.0     22.0   2.0               1.5      30.5
31  32.0  30.0  17.5   5.0  11.0      4.0   1.0              27.5      26.5