In [1]:
a =100

In [2]:
a

100

In [4]:
a=110+a

In [5]:
a

220

In [6]:
name = 'India'

In [7]:
type(name)

str

In [8]:
city = "Pune"

In [9]:
type(city)

str

In [10]:
t = 3.14

In [11]:
type(t)

float

In [12]:
c = 10+5j

In [13]:
type(c)

complex

In [14]:
print(" name is " ,name)

 name is  India

In [15]:
val = 0x50

In [16]:
type(val)

int

In [17]:
name = "this is india"

In [18]:
type(name)

str

In [19]:
name[0]

't'

In [20]:
name[2]

'i'

In [22]:
name[0:2]

'th'

In [24]:
type(name[2:8])

str

In [25]:
sub = name[0:2]

In [26]:
sub

'th'

In [27]:
name

'this is india'

In [29]:
name[-2]

'i'

In [30]:
name

'this is india'

In [31]:
name [0:8:1]

'this is '

In [32]:
name [0:8:2]

'ti s'

In [33]:
name[2:]

'is is india'

In [34]:
name[:4]

'this'

In [36]:
name[-1:5]

''

In [37]:
help(name.count)

Help on built-in function count:

count(...) method of builtins.str instance
    S.count(sub[, start[, end]]) -> int

    Return the number of non-overlapping occurrences of substring sub in
    string S[start:end].  Optional arguments start and end are
    interpreted as in slice notation.

In [38]:
name

'this is india'

In [39]:
name + " my country"

'this is india my country'

In [40]:
name

'this is india'

In [41]:
t = name + " my country"

In [42]:
name = name + " my country"

In [43]:
name

'this is india my country'

In [44]:
name * 2

'this is india my countrythis is india my country'

In [45]:
"India " *3

'India India India '

In [46]:
name[-1]

'y'

In [47]:
name[:-1]

'this is india my countr'

In [48]:
't' in name

True

In [49]:
name

'this is india my country'

In [50]:
'T' in name

False

In [51]:
'T' not in name

True

In [61]:
print(" value is %s"%name)

 value is this is india my country

In [53]:
a

220

In [57]:
print("value of a is %u"%a)

value of a is 220

In [58]:
pi=3.14

In [59]:
type(pi)

float

In [60]:
print("value of pi = %f"%pi)

value of pi = 3.140000

In [62]:
print("value of a is ",a)

value of a is  220

In [64]:
ret = print("hello")

hello

In [66]:
type(ret)

NoneType

In [67]:
type(print("hello"))

hello

NoneType

In [69]:
type(name[0])

str

In [70]:
name.upper()

'THIS IS INDIA MY COUNTRY'

In [71]:
name.capitalize()

'This is india my country'

In [72]:
name.lower()

'this is india my country'

In [74]:
name.count("i",7,len(name))

2

In [75]:
len(name)

24

In [76]:
name.encode('utf-8','strict')

b'this is india my country'

In [77]:
min(name)

' '

In [78]:
max(name)

'y'

In [82]:
name.index("i")

2

In [83]:
type(a)

int

In [84]:
val_a = str(a)

In [85]:
type(a)

int

In [86]:
type(val_a)

str

In [87]:
del(name)

In [88]:
name

<class 'NameError'>: name 'name' is not defined

In [89]:
del(a)

In [90]:
a

<class 'NameError'>: name 'a' is not defined

In [91]:
emp =(100,"Ram","Delhi",2345.67)

In [92]:
type(emp)

tuple

In [93]:
len(emp)

4

In [94]:
emp[0]

100

In [95]:
emp[2]

'Delhi'

In [96]:
emp[0:2]

(100, 'Ram')

In [99]:
type(emp[-1])

float

In [98]:
emp[::-1]

(2345.67, 'Delhi', 'Ram', 100)

In [100]:
max(emp)

<class 'TypeError'>: '>' not supported between instances of 'str' and 'int'

In [101]:
city = ("delhi","pune","mumbai")

In [102]:
max(city)

'pune'

In [103]:
min(city)

'delhi'

In [104]:
c1 = ("delhi","deelhi","mumbai")

In [105]:
min(c1)

'deelhi'

In [106]:
sorted(c1)

['deelhi', 'delhi', 'mumbai']

In [107]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [108]:
sorted(emp)

<class 'TypeError'>: '<' not supported between instances of 'str' and 'int'

In [109]:
name = " This is India"

In [110]:
sorted(name)

[' ', ' ', ' ', 'I', 'T', 'a', 'd', 'h', 'i', 'i', 'i', 'n', 's', 's']

In [111]:
emp*2

(100, 'Ram', 'Delhi', 2345.67, 100, 'Ram', 'Delhi', 2345.67)

In [112]:
emp

(100, 'Ram', 'Delhi', 2345.67)

In [113]:
'ram' in emp

False

In [114]:
"Ram" in emp

True

In [115]:
emp

(100, 'Ram', 'Delhi', 2345.67)

In [116]:
city

('delhi', 'pune', 'mumbai')

In [117]:
res = emp +city

In [118]:
type(res)

tuple

In [119]:
res

(100, 'Ram', 'Delhi', 2345.67, 'delhi', 'pune', 'mumbai')

In [120]:
del(emp)

In [121]:
city

('delhi', 'pune', 'mumbai')

In [126]:
city = (1,2,3,"Delhi",2,"Delhi")

In [127]:
city

(1, 2, 3, 'Delhi', 2, 'Delhi')

In [128]:
city.count(2)

2

In [129]:
city.index(2)

1

In [130]:
lang = ["java","python","c","c++",".Net"]

In [131]:
type(lang)

list

In [132]:
mem = [1,2.8,"Ram"]

In [133]:
type(mem)

list

In [134]:
lang[0]

'java'

In [135]:
lang[2:4]

['c', 'c++']

In [136]:
max(lang)

'python'

In [137]:
lang[-1]

'.Net'

In [138]:
len(lang)

5

In [140]:
len(mem)

3

In [141]:
mem.index("Ram")

2

In [142]:
mem

[1, 2.8, 'Ram']

In [145]:
res3=mem.append("Delhi")

In [144]:
len(mem)

4

In [146]:
type(res3)

NoneType

In [147]:
help(mem.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

In [148]:
mem

[1, 2.8, 'Ram', 'Delhi', 'Delhi']

In [149]:
mem.insert(1,"python")

In [150]:
mem

[1, 'python', 2.8, 'Ram', 'Delhi', 'Delhi']

In [151]:
len(mem)

6

In [154]:
mem[0] = 100

In [155]:
mem

[100, 'python', 2.8, 'Ram', 'Delhi', 'Delhi']

In [156]:
mem.reverse()

In [157]:
mem

['Delhi', 'Delhi', 'Ram', 2.8, 'python', 100]

In [162]:
newCity = (1)

In [163]:
type(newCity)

int

In [164]:
newCity

1