In [1]:
a =100

In [2]:
a

100

In [4]:
a=110+a

In [5]:
a

220

In [6]:
name = 'India'

In [7]:
type(name)

str

In [8]:
city = "Pune"

In [9]:
type(city)

str

In [10]:
t = 3.14

In [11]:
type(t)

float

In [12]:
c = 10+5j

In [13]:
type(c)

complex

In [14]:
print(" name is " ,name)

 name is  India

In [15]:
val = 0x50

In [16]:
type(val)

int

In [17]:
name = "this is india"

In [18]:
type(name)

str

In [19]:
name[0]

't'

In [20]:
name[2]

'i'

In [22]:
name[0:2]

'th'

In [24]:
type(name[2:8])

str

In [25]:
sub = name[0:2]

In [26]:
sub

'th'

In [27]:
name

'this is india'

In [29]:
name[-2]

'i'

In [30]:
name

'this is india'

In [31]:
name [0:8:1]

'this is '

In [32]:
name [0:8:2]

'ti s'

In [33]:
name[2:]

'is is india'

In [34]:
name[:4]

'this'

In [36]:
name[-1:5]

''

In [37]:
help(name.count)

Help on built-in function count:

count(...) method of builtins.str instance
    S.count(sub[, start[, end]]) -> int

    Return the number of non-overlapping occurrences of substring sub in
    string S[start:end].  Optional arguments start and end are
    interpreted as in slice notation.

In [38]:
name

'this is india'

In [39]:
name + " my country"

'this is india my country'

In [40]:
name

'this is india'

In [41]:
t = name + " my country"

In [42]:
name = name + " my country"

In [43]:
name

'this is india my country'

In [44]:
name * 2

'this is india my countrythis is india my country'

In [45]:
"India " *3

'India India India '

In [46]:
name[-1]

'y'

In [47]:
name[:-1]

'this is india my countr'

In [48]:
't' in name

True

In [49]:
name

'this is india my country'

In [50]:
'T' in name

False

In [51]:
'T' not in name

True

In [61]:
print(" value is %s"%name)

 value is this is india my country

In [53]:
a

220

In [57]:
print("value of a is %u"%a)

value of a is 220

In [58]:
pi=3.14

In [59]:
type(pi)

float

In [60]:
print("value of pi = %f"%pi)

value of pi = 3.140000

In [62]:
print("value of a is ",a)

value of a is  220

In [64]:
ret = print("hello")

hello

In [66]:
type(ret)

NoneType

In [67]:
type(print("hello"))

hello

NoneType

In [69]:
type(name[0])

str

In [70]:
name.upper()

'THIS IS INDIA MY COUNTRY'

In [71]:
name.capitalize()

'This is india my country'

In [72]:
name.lower()

'this is india my country'

In [74]:
name.count("i",7,len(name))

2

In [75]:
len(name)

24

In [76]:
name.encode('utf-8','strict')

b'this is india my country'

In [77]:
min(name)

' '

In [78]:
max(name)

'y'

In [82]:
name.index("i")

2

In [83]:
type(a)

int

In [84]:
val_a = str(a)

In [85]:
type(a)

int

In [86]:
type(val_a)

str

In [87]:
del(name)

In [88]:
name

<class 'NameError'>: name 'name' is not defined

In [89]:
del(a)

In [90]:
a

<class 'NameError'>: name 'a' is not defined

In [91]:
emp =(100,"Ram","Delhi",2345.67)

In [92]:
type(emp)

tuple

In [93]:
len(emp)

4

In [94]:
emp[0]

100

In [95]:
emp[2]

'Delhi'

In [96]:
emp[0:2]

(100, 'Ram')

In [99]:
type(emp[-1])

float

In [98]:
emp[::-1]

(2345.67, 'Delhi', 'Ram', 100)

In [100]:
max(emp)

<class 'TypeError'>: '>' not supported between instances of 'str' and 'int'

In [101]:
city = ("delhi","pune","mumbai")

In [102]:
max(city)

'pune'

In [103]:
min(city)

'delhi'

In [104]:
c1 = ("delhi","deelhi","mumbai")

In [105]:
min(c1)

'deelhi'

In [106]:
sorted(c1)

['deelhi', 'delhi', 'mumbai']

In [107]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [108]:
sorted(emp)

<class 'TypeError'>: '<' not supported between instances of 'str' and 'int'

In [109]:
name = " This is India"

In [110]:
sorted(name)

[' ', ' ', ' ', 'I', 'T', 'a', 'd', 'h', 'i', 'i', 'i', 'n', 's', 's']

In [111]:
emp*2

(100, 'Ram', 'Delhi', 2345.67, 100, 'Ram', 'Delhi', 2345.67)

In [112]:
emp

(100, 'Ram', 'Delhi', 2345.67)

In [113]:
'ram' in emp

False

In [114]:
"Ram" in emp

True

In [115]:
emp

(100, 'Ram', 'Delhi', 2345.67)

In [116]:
city

('delhi', 'pune', 'mumbai')

In [117]:
res = emp +city

In [118]:
type(res)

tuple

In [119]:
res

(100, 'Ram', 'Delhi', 2345.67, 'delhi', 'pune', 'mumbai')

In [120]:
del(emp)

In [121]:
city

('delhi', 'pune', 'mumbai')

In [126]:
city = (1,2,3,"Delhi",2,"Delhi")

In [127]:
city

(1, 2, 3, 'Delhi', 2, 'Delhi')

In [128]:
city.count(2)

2

In [129]:
city.index(2)

1

In [130]:
lang = ["java","python","c","c++",".Net"]

In [131]:
type(lang)

list

In [132]:
mem = [1,2.8,"Ram"]

In [133]:
type(mem)

list

In [134]:
lang[0]

'java'

In [135]:
lang[2:4]

['c', 'c++']

In [136]:
max(lang)

'python'

In [137]:
lang[-1]

'.Net'

In [138]:
len(lang)

5

In [140]:
len(mem)

3

In [141]:
mem.index("Ram")

2

In [142]:
mem

[1, 2.8, 'Ram']

In [145]:
res3=mem.append("Delhi")

In [144]:
len(mem)

4

In [146]:
type(res3)

NoneType

In [147]:
help(mem.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

In [148]:
mem

[1, 2.8, 'Ram', 'Delhi', 'Delhi']

In [149]:
mem.insert(1,"python")

In [150]:
mem

[1, 'python', 2.8, 'Ram', 'Delhi', 'Delhi']

In [151]:
len(mem)

6

In [154]:
mem[0] = 100

In [155]:
mem

[100, 'python', 2.8, 'Ram', 'Delhi', 'Delhi']

In [156]:
mem.reverse()

In [157]:
mem

['Delhi', 'Delhi', 'Ram', 2.8, 'python', 100]

In [162]:
newCity = (1)

In [163]:
type(newCity)

int

In [164]:
newCity

1

In [50]:
import sys

In [1]:
no = 0b1

In [3]:
type(no)

int

In [4]:
no

1

In [5]:
oct1 = 0o12

In [6]:
type(oct1)

int

In [7]:
oct1

10

In [11]:
hex1 = 0xa1

In [12]:
type(hex1)

int

In [13]:
hex1

161

In [14]:
oct(hex1)

'0o241'

In [15]:
bin(hex1)

'0b10100001'

In [16]:
bin(10)

'0b1010'

In [20]:
help(hex)

Help on int object:

class int(object)
 |  int([x]) -> integer
 |  int(x, base=10) -> integer
 |
 |  Convert a number or string to an integer, or return 0 if no arguments
 |  are given.  If x is a number, return x.__int__().  For floating point
 |  numbers, this truncates towards zero.
 |
 |  If x is not a number or if base is given, then x must be a string,
 |  bytes, or bytearray instance representing an integer literal in the
 |  given base.  The literal can be preceded by '+' or '-' and be surrounded
 |  by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
 |  Base 0 means to interpret the base from the string as an integer literal.
 |  >>> int('0b100', base=0)
 |  4
 |
 |  Built-in subclasses:
 |      bool
 |
 |  Methods defined here:
 |
 |  __abs__(self, /)
 |      abs(self)
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __ceil__(...)
 |      Ceiling of an Integral returns itself.
 |
 |  __divmod__(self, value, /)
 |      Return divmod(self, value).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __float__(self, /)
 |      float(self)
 |
 |  __floor__(...)
 |      Flooring an Integral returns itself.
 |
 |  __floordiv__(self, value, /)
 |      Return self//value.
 |
 |  __format__(self, format_spec, /)
 |      Convert to a string according to format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __index__(self, /)
 |      Return self converted to an integer, if self is suitable for use as an index into a list.
 |
 |  __int__(self, /)
 |      int(self)
 |
 |  __invert__(self, /)
 |      ~self
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lshift__(self, value, /)
 |      Return self<<value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __neg__(self, /)
 |      -self
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __pos__(self, /)
 |      +self
 |
 |  __pow__(self, value, mod=None, /)
 |      Return pow(self, value, mod).
 |
 |  __radd__(self, value, /)
 |      Return value+self.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __rdivmod__(self, value, /)
 |      Return divmod(value, self).
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rfloordiv__(self, value, /)
 |      Return value//self.
 |
 |  __rlshift__(self, value, /)
 |      Return value<<self.
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __round__(...)
 |      Rounding an Integral returns itself.
 |
 |      Rounding with an ndigits argument also returns an integer.
 |
 |  __rpow__(self, value, mod=None, /)
 |      Return pow(value, self, mod).
 |
 |  __rrshift__(self, value, /)
 |      Return value>>self.
 |
 |  __rshift__(self, value, /)
 |      Return self>>value.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rtruediv__(self, value, /)
 |      Return value/self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(self, /)
 |      Returns size in memory, in bytes.
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __truediv__(self, value, /)
 |      Return self/value.
 |
 |  __trunc__(...)
 |      Truncating an Integral returns itself.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  as_integer_ratio(self, /)
 |      Return a pair of integers, whose ratio is equal to the original int.
 |
 |      The ratio is in lowest terms and has a positive denominator.
 |
 |      >>> (10).as_integer_ratio()
 |      (10, 1)
 |      >>> (-10).as_integer_ratio()
 |      (-10, 1)
 |      >>> (0).as_integer_ratio()
 |      (0, 1)
 |
 |  bit_count(self, /)
 |      Number of ones in the binary representation of the absolute value of self.
 |
 |      Also known as the population count.
 |
 |      >>> bin(13)
 |      '0b1101'
 |      >>> (13).bit_count()
 |      3
 |
 |  bit_length(self, /)
 |      Number of bits necessary to represent self in binary.
 |
 |      >>> bin(37)
 |      '0b100101'
 |      >>> (37).bit_length()
 |      6
 |
 |  conjugate(...)
 |      Returns self, the complex conjugate of any int.
 |
 |  is_integer(self, /)
 |      Returns True. Exists for duck type compatibility with float.is_integer.
 |
 |  to_bytes(self, /, length=1, byteorder='big', *, signed=False)
 |      Return an array of bytes representing an integer.
 |
 |      length
 |        Length of bytes object to use.  An OverflowError is raised if the
 |        integer is not representable with the given number of bytes.  Default
 |        is length 1.
 |      byteorder
 |        The byte order used to represent the integer.  If byteorder is 'big',
 |        the most significant byte is at the beginning of the byte array.  If
 |        byteorder is 'little', the most significant byte is at the end of the
 |        byte array.  To request the native byte order of the host system, use
 |        `sys.byteorder' as the byte order value.  Default is to use 'big'.
 |      signed
 |        Determines whether two's complement is used to represent the integer.
 |        If signed is False and a negative integer is given, an OverflowError
 |        is raised.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  from_bytes(bytes, byteorder='big', *, signed=False) from builtins.type
 |      Return the integer represented by the given array of bytes.
 |
 |      bytes
 |        Holds the array of bytes to convert.  The argument must either
 |        support the buffer protocol or be an iterable object producing bytes.
 |        Bytes and bytearray are examples of built-in objects that support the
 |        buffer protocol.
 |      byteorder
 |        The byte order used to represent the integer.  If byteorder is 'big',
 |        the most significant byte is at the beginning of the byte array.  If
 |        byteorder is 'little', the most significant byte is at the end of the
 |        byte array.  To request the native byte order of the host system, use
 |        `sys.byteorder' as the byte order value.  Default is to use 'big'.
 |      signed
 |        Indicates whether two's complement is used to represent the integer.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  denominator
 |      the denominator of a rational number in lowest terms
 |
 |  imag
 |      the imaginary part of a complex number
 |
 |  numerator
 |      the numerator of a rational number in lowest terms
 |
 |  real
 |      the real part of a complex number

In [24]:
del(hex)

In [25]:
hex(10)

'0xa'

In [26]:
print("hello")

hello

In [35]:
print("hello %o"%oct1,"india",sep=',')

hello 12,india

In [29]:
oct1

10

In [31]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [34]:
for i in [2,3,67,190]:
    print(i,end="\t")

2	3	67	190

In [44]:
l1 = ['ram','shyam','radha','john']

In [37]:
l1.pop()

'john'

In [38]:
l1

['ram', 'shyam', 'radha']

In [39]:
len(l1)

3

In [42]:
l1.remove('shyam')

#

In [43]:
l1

['ram', 'radha']

In [45]:
l1

['ram', 'shyam', 'radha', 'john']

In [46]:
l1.pop(2)

'radha'

In [47]:
l1

['ram', 'shyam', 'john']

In [49]:
l1.extend(['sia','mohan'])

#

In [50]:
l1

['ram', 'shyam', 'john', 'sia', 'mohan']

In [51]:
l1[0:2]

['ram', 'shyam']

In [52]:
l1

['ram', 'shyam', 'john', 'sia', 'mohan']

In [53]:
sorted(l1)

['john', 'mohan', 'ram', 'shyam', 'sia']

In [55]:
l1[::-1]

['mohan', 'sia', 'john', 'shyam', 'ram']

In [56]:
l2 = [[100,102,102],['Ram','sia','ravan']]

In [57]:
l2

[[100, 102, 102], ['Ram', 'sia', 'ravan']]

In [58]:
help(l2.extend)

Help on built-in function extend:

extend(iterable, /) method of builtins.list instance
    Extend list by appending elements from the iterable.

In [59]:
type(l2[0])

list

In [60]:
l2[0][1]

102

In [61]:
l2[1][2]

'ravan'

In [62]:
l2[1][::-1]

['ravan', 'sia', 'Ram']

In [63]:
l3 = [('rose','jasmin','lilly'),(100,200,300,400,'delhi')]

In [64]:
l3

[('rose', 'jasmin', 'lilly'), (100, 200, 300, 400, 'delhi')]

In [65]:
len(l3)

2

In [66]:
len(l3[1])

5

In [67]:
sorted(l3[0])

['jasmin', 'lilly', 'rose']

In [68]:
population = {"india":78902,"USA":345,"Uk":672}

In [69]:
population

{'india': 78902, 'USA': 345, 'Uk': 672}

In [70]:
len(population)

3

In [86]:
d1 = {100:"java",200:"python",400:".Net"}

In [72]:
d1

{100: 'java', 200: 'python', 400: '.Net'}

In [73]:
len(d1)

3

In [74]:
population['USA']

345

In [75]:
population

{'india': 78902, 'USA': 345, 'Uk': 672}

In [77]:
population['Uk']

672

In [78]:
d1[200]

'python'

In [80]:
d1

{100: 'java', 200: 'python', 400: '.Net'}

In [81]:
d1.pop(200)

'python'

In [82]:
d1

{100: 'java', 400: '.Net'}

In [83]:
d1.clear()

In [84]:
d1

{}

In [85]:
l1

['ram', 'shyam', 'john', 'sia', 'mohan']

In [87]:
d1

{100: 'java', 200: 'python', 400: '.Net'}

In [88]:
l1[0]

'ram'

In [89]:
d1['java']

<class 'KeyError'>: 'java'

In [92]:
l1 = ['a',b',c',2,3,4]

In [93]:
l1

['a', b',c', 2, 3, 4]

In [94]:
l1

['a', b',c', 2, 3, 4]

In [95]:
l1.clear()

In [96]:
l1

[]

In [97]:
d1

{100: 'java', 200: 'python', 400: '.Net'}

In [98]:
d1.clear()

In [99]:
d1

{}

In [100]:
d1['books']=300

In [101]:
d1

{'books': 300}

In [102]:
d1['pens']=200

In [103]:
d1

{'books': 300, 'pens': 200}

In [104]:
d1['pen']=500

In [105]:
d1

{'books': 300, 'pens': 200, 'pen': 500}

In [106]:
del(d1)

In [107]:
d1

<class 'NameError'>: name 'd1' is not defined

In [108]:
population

{'india': 78902, 'USA': 345, 'Uk': 672}

In [109]:
sorted(population)

['USA', 'Uk', 'india']

In [110]:
population

{'india': 78902, 'USA': 345, 'Uk': 672}

In [112]:
k1 =population.keys()

In [113]:
type(k1)

dict_keys

In [114]:
k1

dict_keys(['india', 'USA', 'Uk'])

In [115]:
population.values()

dict_values([78902, 345, 672])

In [116]:
population.items()

dict_items([('india', 78902), ('USA', 345), ('Uk', 672)])

In [117]:
for k,v in population.items():
    print("country : ",k," population is : ",v)

country :  india  population is :  78902
country :  USA  population is :  345
country :  Uk  population is :  672

In [118]:
population.get('Uk')

672

In [120]:
'USA' in population

True

In [121]:
k1

dict_keys(['india', 'USA', 'Uk'])

In [122]:
sk = sorted(k1)

In [123]:
sk

['USA', 'Uk', 'india']

In [127]:
for key in sk:
    print(key,population[key])

USA 345
Uk 672
india 78902

In [126]:
sorted(population)

['USA', 'Uk', 'india']

In [128]:
population

{'india': 78902, 'USA': 345, 'Uk': 672}

In [133]:
for i in range(0,len(population)):
    print(i)

0
1
2

In [136]:
for k in population.keys():
    print(k,population.get(k))

india 78902
USA 345
Uk 672

In [137]:
d2 = {1:[100,200,300],2:('ram','radha')}

In [138]:
len(d2)

2

In [139]:
d2[1]

[100, 200, 300]

In [140]:
d2[1][1]

200

In [141]:
d2[2][1]

'radha'

In [146]:
d3 ={'India':{'delhi':2345,'mumbai':2678,'chennai':289,'kol':452}, \
     'USA':{'cal':67,'NY':256}
    }

In [147]:
d3

{'India': {'delhi': 2345, 'mumbai': 2678, 'chennai': 289, 'kol': 452},
 'USA': {'cal': 67, 'NY': 256}}

In [148]:
len(d3)

2

In [149]:
len(d3['India'])

4

In [150]:
d3['India']['mumbai']

2678

In [151]:
d3

{'India': {'delhi': 2345, 'mumbai': 2678, 'chennai': 289, 'kol': 452},
 'USA': {'cal': 67, 'NY': 256}}

In [152]:
d3_list = list(d3)

In [153]:
type(d3_list)

list

In [154]:
d3_list

['India', 'USA']

In [155]:
d3_l2 = d3.items()

In [156]:
d3_l2

dict_items([('India', {'delhi': 2345, 'mumbai': 2678, 'chennai': 289, 'kol': 452}), ('USA', {'cal': 67, 'NY': 256})])

In [157]:
s1 = set()

In [158]:
type(s1)

set

In [159]:
s1

set()

In [160]:
s2 = {2,3,4,1}

In [162]:
type(s2)

set

In [163]:
len(s1)

0

In [164]:
len(s2)

4

In [165]:
s1.add(12)

In [166]:
s1

{12}

In [167]:
s1.add(23)

In [168]:
s1

{12, 23}

In [169]:
s1.add(2)

In [170]:
s1

{2, 12, 23}

In [171]:
len(s1)

3

In [172]:
s1.add(12)

In [173]:
s1

{2, 12, 23}

In [174]:
s2

{1, 2, 3, 4}

In [175]:
s1.add(100)

In [176]:
s1

{2, 12, 23, 100}

In [177]:
s2

{1, 2, 3, 4}

In [178]:
sunion = s1.union(s2)

In [179]:
type(sunion)

set

In [180]:
sunion

{1, 2, 3, 4, 12, 23, 100}

In [182]:
#bitwise OR operator
s1|s2

{1, 2, 3, 4, 12, 23, 100}

In [185]:
sinter = s1.intersection(s2)

In [186]:
sinter

{2}

In [187]:
#bitwise AND operator
s1 & s2

{2}

In [188]:
s1

{2, 12, 23, 100}

In [189]:
s2

{1, 2, 3, 4}

In [190]:
# difference
s1.difference(s2)

{12, 23, 100}

In [191]:
s2.difference(s1)

{1, 3, 4}

In [192]:
s1 - s2

{12, 23, 100}

In [193]:
1 in s2

True

In [194]:
100 in s2

False

In [195]:
100 not in s2

True

In [196]:
s1.issuperset(s2)

False

In [197]:
help(s1.symmetric_difference)

Help on built-in function symmetric_difference:

symmetric_difference(...) method of builtins.set instance
    Return the symmetric difference of two sets as a new set.

    (i.e. all elements that are in exactly one of the sets.)

s1

In [198]:
s1

{2, 12, 23, 100}

In [199]:
s2

{1, 2, 3, 4}

In [200]:
s1.symmetric_difference(s2)

{1, 3, 4, 12, 23, 100}

In [201]:
s1

{2, 12, 23, 100}

In [202]:
s1.pop()

100

In [203]:
s1

{2, 12, 23}

In [204]:
s1.remove(12)

In [205]:
s1

{2, 23}

In [206]:
s1.discard(2)

In [207]:
s1

{23}

In [208]:
s1.clear()

In [209]:
del s1

In [212]:
# list with 10 elements 1 to 10
expl1 = []
for i in range(1,10):
    expl1.append(i)

In [213]:
expl1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [214]:
t = range(1,20)

In [215]:
t

range(1, 20)

In [216]:
expl2 = [ i for i in range(1,10)]

In [217]:
expl2

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [218]:
l1

[]

In [219]:
l2

[[100, 102, 102], ['Ram', 'sia', 'ravan']]

In [220]:
expl3 = [i for i in l2]

In [221]:
expl3

[[100, 102, 102], ['Ram', 'sia', 'ravan']]

In [222]:
expl4 = [i*2 for i in range(1,10)]

In [223]:
expl4

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [226]:
expl5 = [i**2 for i in range(1,10)]

In [228]:
2**3

8

In [229]:
expl5

[1, 4, 9, 16, 25, 36, 49, 64, 81]